/* General */

body {
  background-color: rgb(0, 9, 0);
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

/* Nav */

.AppHeader {
  background: #10101000;
  color: white;
  padding: 30px 10px 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* ✅ Add this */
  top: 0;
  width: 100%;
  z-index: 2000;
  height: 60px; /* optional: fix height */
}

.hamburger-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin: 8px 10px 0px 0px;
  cursor: pointer;
  color: rgb(100, 100, 100);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 0px;
  background: none;
  color: rgb(100, 100, 100);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  z-index: 3100;
}

.FullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  overflow-y: auto; /* enable scroll inside menu */
  z-index: 9999;
}

.ethanNotesAppTitle {
  position: absolute;
  left: 10px;
  font-style: italic;
  font-size: 10px;
  top: 50%;
  transform: translateY(-75%);
  margin: 4px 0px 0px 20px;
  cursor: pointer;
  color: #989898;
}

.imageFakeflix {
  margin-top: 4px;
}

img {
  size: 20px;
  filter: contrast(120%) saturate(110%) brightness(100%);
}
